body{
    background-color: blanchedalmond;
    min-height: 100vh;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: red;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info{
    text-align: center;
    background-color: #ebebeb;
    height: 6rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-socials{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    
}

.f-info-socials i{
 margin-left: 20px;
}

.wonder{
    margin-top: 13px;
    margin-bottom: 13px;
    color: #222222;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    height: 20rem;
    object-fit: cover !important;

}

.card-body{
    padding: 0;

}

.card-text p{
    font-weight: 400;
}


.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.bttns{
    display: flex;
}

#map {
    height: 400px;
    width: 80vh;
     }